<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen w-full bg-cover" style="background-image: url('{{ asset('images/login.png') }}');">
    <div class="h-full flex justify-end mx-12 items-center">
        <div class="h-max w-72">
            <div class="bg-[#008080] bg-opacity-75 rounded-lg">
                <div class="flex flex-col h-[402px] items-center justify-between px-4 py-2">
                    <div class="flex flex-col items-center">
                        <img src="{{ asset('images/SygmaLogo2.png') }}" alt="">

                        <form action="{{ path('login') }}" method="post">
                            <div class="bg-[#00A1A1] p-4 flex flex-col gap-2 rounded-lg">
                                <input class="z-50 outline-none w-full rounded-lg p-2" type="text" name="phoneNumber" placeholder="Phone number...">
                                <input class="z-50 outline-none w-full rounded-lg p-2" type="password" name="password" placeholder="Password...">
                                <a class="mt-2 underline text-white text-sm" href="#">Forgot password?</a>

                            </div> 

                            <button type="submit" class="mt-2 bg-[#00A1A1] px-8 py-2 text-white rounded-lg text-xl">Log in</button>
                        </form>

                    </div>

                    {#<a href="{{ path('dashboard') }}" class="z-50 mb-4 font-bold bg-[#00A1A1] px-8 py-2 text-white rounded-lg text-xl">Sign in</a>#}
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-end items-end h-full w-full fixed top-0 z-5">
        <div class="w-full h-fit bg-[#008080]">
            <div class="flex justify-between px-4 py-2 items-center">
                <p class="text-md text-white">© Copyright SYGMA.AI 2024</p>
                <img src="{{ asset('images/SygmaLogo.png') }}" class="w-1/12" alt="">
            </div>
        </div>
    </div>
</body>
</html>
